@import "~react-big-calendar/lib/css/react-big-calendar.css";

body {
  background-color: rgb(39, 39, 39);

  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.rbc-event.pending {
  background-color: rebeccapurple;
}

.rbc-event.unconfirmed {
  background-color: red;
}

.homepage {
  min-height: 100vh;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
}